.reception-dashboard {
    display: flex;
    direction: rtl;
}

.reception-dashboard .content {
    flex: 1;
    margin-right: 240px;
    background-color: #f5f7f9;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .reception-dashboard .content {
        margin-right: 0;
    }
}

/* Custom Scrollbar for better performance and look */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

/* Prevent double scrolls */
body {
    overflow: hidden;
}
